@import "tailwindcss";
@import "tw-animate-css";

@plugin "@tailwindcss/typography";

@custom-variant dark (&:where(.dark, .dark *));

html,
body {
    @media (prefers-color-scheme: dark) {
        color-scheme: dark;
    }
}

@layer base {
    * {
        @apply border-border outline-ring/50;
    }

    body {
        @apply bg-background text-foreground;
    }
}

:root {
    --background: oklch(1.0000 0 0);
    --foreground: oklch(0.1791 0.0102 248.3976);
    --card: oklch(1.0000 0 0);
    --card-foreground: oklch(0.1791 0.0102 248.3976);
    --popover: oklch(1.0000 0 0);
    --popover-foreground: oklch(0.1791 0.0102 248.3976);
    --primary: oklch(0.7049 0.1179 192.9067);
    --primary-foreground: oklch(1.0000 0 0);
    --secondary: oklch(0.9521 0.0079 247.9083);
    --secondary-foreground: oklch(0.1791 0.0102 248.3976);
    --muted: oklch(0.9521 0.0079 247.9083);
    --muted-foreground: oklch(0.5491 0.0226 248.2392);
    --accent: oklch(0.7049 0.1179 192.9067);
    --accent-foreground: oklch(1.0000 0 0);
    --destructive: oklch(0.6356 0.2082 25.3782);
    --destructive-foreground: oklch(1.0000 0 0);
    --border: oklch(0.9210 0.0088 247.9219);
    --input: oklch(0.9210 0.0088 247.9219);
    --ring: oklch(0.7049 0.1179 192.9067);
    --chart-1: oklch(0.7049 0.1179 192.9067);
    --chart-2: oklch(0.9521 0.0079 247.9083);
    --chart-3: oklch(0.1791 0.0102 248.3976);
    --chart-4: oklch(0.6707 0.0216 264.4197);
    --chart-5: oklch(0.7786 0.0646 230.2513);
    --sidebar: var(--background);
    --sidebar-foreground: oklch(1.0000 0 0);
    --sidebar-primary: oklch(0.7049 0.1179 192.9067);
    --sidebar-primary-foreground: oklch(1.0000 0 0);
    --sidebar-accent: oklch(0.5491 0.0226 248.2392);
    --sidebar-accent-foreground: oklch(1.0000 0 0);
    --sidebar-border: oklch(0.2664 0.0135 248.3348);
    --sidebar-ring: oklch(0.7049 0.1179 192.9067);
    --font-sans: Inter, sans-serif;
    --font-serif: Playfair Display, serif;
    --font-mono: JetBrains Mono, monospace;
    --radius: 0.5rem;
    --shadow-x: 0px;
    --shadow-y: 5px;
    --shadow-blur: 10px;
    --shadow-spread: 0px;
    --shadow-opacity: 0.1;
    --shadow-color: 0 0 0;
    --shadow-2xs: 0px 5px 10px 0px hsl(0 0 0 / 0.05);
    --shadow-xs: 0px 5px 10px 0px hsl(0 0 0 / 0.05);
    --shadow-sm: 0px 5px 10px 0px hsl(0 0 0 / 0.10), 0px 1px 2px -1px hsl(0 0 0 / 0.10);
    --shadow: 0px 5px 10px 0px hsl(0 0 0 / 0.10), 0px 1px 2px -1px hsl(0 0 0 / 0.10);
    --shadow-md: 0px 5px 10px 0px hsl(0 0 0 / 0.10), 0px 2px 4px -1px hsl(0 0 0 / 0.10);
    --shadow-lg: 0px 5px 10px 0px hsl(0 0 0 / 0.10), 0px 4px 6px -1px hsl(0 0 0 / 0.10);
    --shadow-xl: 0px 5px 10px 0px hsl(0 0 0 / 0.10), 0px 8px 10px -1px hsl(0 0 0 / 0.10);
    --shadow-2xl: 0px 5px 10px 0px hsl(0 0 0 / 0.25);
    --tracking-normal: normal;
    --spacing: 0.25rem;
}

.dark {
    --background: oklch(0.2087 0.0141 261.3611);
    --foreground: oklch(1 0 0);
    --card: oklch(0.2087 0.0141 261.3611);
    --card-foreground: oklch(1 0 0);
    --popover: oklch(0.2087 0.0141 261.3611);
    --popover-foreground: oklch(1 0 0);
    --primary: oklch(0.7049 0.1179 192.9067);
    --primary-foreground: oklch(1 0 0);
    --secondary: oklch(0.3170 0.0173 248.3715);
    --secondary-foreground: oklch(1 0 0);
    --muted: oklch(0.3170 0.0173 248.3715);
    --muted-foreground: oklch(0.7200 0.0165 248.0568);
    --accent: oklch(0.7049 0.1179 192.9067);
    --accent-foreground: oklch(0.2087 0.0141 261.3611);
    --destructive: oklch(0.6356 0.2082 25.3782);
    --destructive-foreground: oklch(0.2087 0.0141 261.3611);
    --border: oklch(0.3657 0.0208 248.3964);
    --input: oklch(0.3170 0.0173 248.3715);
    --ring: oklch(0.7049 0.1179 192.9067);
    --chart-1: oklch(0.7049 0.1179 192.9067);
    --chart-2: oklch(0.3170 0.0173 248.3715);
    --chart-3: oklch(1 0 0);
    --chart-4: oklch(0.6707 0.0216 264.4197);
    --chart-5: oklch(0.7786 0.0646 230.2513);
    --sidebar: var(--background);
    --sidebar-foreground: var(--foreground);
    --sidebar-primary: var(--primary);
    --sidebar-primary-foreground: var(--primary-foreground);
    --sidebar-accent: var(--color-accent);
    --sidebar-accent-foreground: var(--color-accent-foreground);
    --sidebar-border: var(--border);
    --sidebar-ring: var(--ring);
    --font-sans: Inter, sans-serif;
    --font-serif: Playfair Display, serif;
    --font-mono: JetBrains Mono, monospace;
    --radius: 0.5rem;
    --shadow-x: 0px;
    --shadow-y: 5px;
    --shadow-blur: 10px;
    --shadow-spread: 0px;
    --shadow-opacity: 0.5;
    --shadow-color: 0 0 0;
    --shadow-2xs: 0px 5px 10px 0px hsl(0 0 0 / 0.25);
    --shadow-xs: 0px 5px 10px 0px hsl(0 0 0 / 0.25);
    --shadow-sm: 0px 5px 10px 0px hsl(0 0 0 / 0.50), 0px 1px 2px -1px hsl(0 0 0 / 0.50);
    --shadow: 0px 5px 10px 0px hsl(0 0 0 / 0.50), 0px 1px 2px -1px hsl(0 0 0 / 0.50);
    --shadow-md: 0px 5px 10px 0px hsl(0 0 0 / 0.50), 0px 2px 4px -1px hsl(0 0 0 / 0.50);
    --shadow-lg: 0px 5px 10px 0px hsl(0 0 0 / 0.50), 0px 4px 6px -1px hsl(0 0 0 / 0.50);
    --shadow-xl: 0px 5px 10px 0px hsl(0 0 0 / 0.50), 0px 8px 10px -1px hsl(0 0 0 / 0.50);
    --shadow-2xl: 0px 5px 10px 0px hsl(0 0 0 / 1.25);
}

@theme inline {
    --color-background: var(--background);
    --color-foreground: var(--foreground);
    --color-card: var(--card);
    --color-card-foreground: var(--card-foreground);
    --color-popover: var(--popover);
    --color-popover-foreground: var(--popover-foreground);
    --color-primary: var(--primary);
    --color-primary-foreground: var(--primary-foreground);
    --color-secondary: var(--secondary);
    --color-secondary-foreground: var(--secondary-foreground);
    --color-muted: var(--muted);
    --color-muted-foreground: var(--muted-foreground);
    --color-accent: var(--accent);
    --color-accent-foreground: var(--accent-foreground);
    --color-destructive: var(--destructive);
    --color-destructive-foreground: var(--destructive-foreground);
    --color-border: var(--border);
    --color-input: var(--input);
    --color-ring: var(--ring);
    --color-chart-1: var(--chart-1);
    --color-chart-2: var(--chart-2);
    --color-chart-3: var(--chart-3);
    --color-chart-4: var(--chart-4);
    --color-chart-5: var(--chart-5);
    --color-sidebar: var(--sidebar);
    --color-sidebar-foreground: var(--sidebar-foreground);
    --color-sidebar-primary: var(--sidebar-primary);
    --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
    --color-sidebar-accent: var(--sidebar-accent);
    --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
    --color-sidebar-border: var(--sidebar-border);
    --color-sidebar-ring: var(--sidebar-ring);

    --font-sans: var(--font-sans);
    --font-mono: var(--font-mono);
    --font-serif: var(--font-serif);

    --radius-sm: calc(var(--radius) - 4px);
    --radius-md: calc(var(--radius) - 2px);
    --radius-lg: var(--radius);
    --radius-xl: calc(var(--radius) + 4px);

    --shadow-2xs: var(--shadow-2xs);
    --shadow-xs: var(--shadow-xs);
    --shadow-sm: var(--shadow-sm);
    --shadow: var(--shadow);
    --shadow-md: var(--shadow-md);
    --shadow-lg: var(--shadow-lg);
    --shadow-xl: var(--shadow-xl);
    --shadow-2xl: var(--shadow-2xl);

    --tracking-tighter: calc(var(--tracking-normal) - 0.05em);
    --tracking-tight: calc(var(--tracking-normal) - 0.025em);
    --tracking-normal: var(--tracking-normal);
    --tracking-wide: calc(var(--tracking-normal) + 0.025em);
    --tracking-wider: calc(var(--tracking-normal) + 0.05em);
    --tracking-widest: calc(var(--tracking-normal) + 0.1em);
}

body {
    letter-spacing: var(--tracking-normal);
}

:root {
    --sidebar-width: 24rem;
}
